.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 50px;
}

.movies-empty {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  width: calc(100% - 80px);
}