.movie-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 10% 50px;
  position: relative;
  width: 80%;
}

.movie-card img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.movie-card h3 {
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
}

.movie-card-rating {
  background: #d35400;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  top: -15px;
}

.movie-card-genres {
  color: #bdc3c7;
  width: 100%;
}
